<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981744621051-ngcn16bmcdg2ns56qtoav84vtbogdrms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981744621051-ngcn16bmcdg2ns56qtoav84vtbogdrms</string>
	<key>API_KEY</key>
	<string>AIzaSyCthvMc3Y4aytMpRCatfbVco-ztvo4EWfo</string>
	<key>GCM_SENDER_ID</key>
	<string>981744621051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.teamLima.osu.sharest</string>
	<key>PROJECT_ID</key>
	<string>teamlima-dc211</string>
	<key>STORAGE_BUCKET</key>
	<string>teamlima-dc211.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981744621051:ios:e7e8b5b8253d1c3f3e675e</string>
</dict>
</plist>